/*
==================================================

MEDIA QUERIES

==================================================
*/
/*
--------------------------------------------------
Large Screens (1400 pixels wide)
-------------------------------------------------- */
@media only screen and (min-width: 1400px) {
  #main {
    background: #ccc;
  }
}
@media only screen and (min-width: 981px) {
  /* Navigation
  -------------------------------------------------- */
  #nav-search,
  #nav-directory {
    position: relative;
  }

  #nav-search .panel {
    width: 240px;
  }

  #nav-directory .panel {
    width: 200px;
  }

  #nav-directory .panel ul li {
    width: 20%;
  }

  #nav-directory .panel li a {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  #shortcuts-nav ul {
    display: block !important;
  }

  #shortcuts-item,
  #nav-search,
  #nav-directory,
  #nav-contact {
    position: relative;
  }

  #shortcuts-item a,
  #nav-search a,
  #nav-directory a,
  #nav-contact  a{
    padding-left: 3.5em;
  }

  #shortcuts-item a:before,
  #nav-search a:before,
  #nav-directory a:before,
  #nav-contact a:before {
    font-family: 'Octicons';
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    position: absolute;
    left: .5em;
    color: #fff;
  }

  #shortcuts-item a:before {
    content: "\f05e";
  }

  #nav-search a:before {
    content: "\f02e";
  }

  #nav-directory a:before {
    content: "\f007";
  }

  #nav-contact a:before {
    content: "\f03b";
  }

  /* Subnavigation
  -------------------------------------------------- */
  .half,
  .quarter {
    float: left;
    width: 50%;
  }

  /* Intro
  -------------------------------------------------- */
  .intro-aside .block {
    min-height: 270px;
  }

  /* Supplementary
  -------------------------------------------------- */
  #supplementary .article-content .article-headline {
    float: left;
    width: 41.304347826087%;
    margin-bottom: 0;
  }

  #supplementary .article-content .date {
    float: left;
    width: 41.304347826087%;
    clear: left;
  }

  #supplementary .article-content .excerpt {
    margin-left: 50%;
    width: 50%;
  }

  /* Supplementary Full
  -------------------------------------------------- */
  #supplementary .full .article-content .article-headline {
    float: none;
    width: 75%;
    margin-bottom: 0;
  }

  #supplementary .full .article-content .date {
    float: none;
    width: 100%;
    clear: both;
  }

  #supplementary .full .article-content .excerpt {
    margin-left: 0%;
    width: 0%;
  }

  #supplementary .full .article-content .address {
    margin-right: 50%;
  }

  /* Secondary Content
  -------------------------------------------------- */
  .secondary-content section {
    float: left;
    width: 25%;
  }

  .secondary-content section h3 .twitter-atreply {
    display: block;
  }

  .links-social {
    width: 128px;
  }

  /* Footer
  -------------------------------------------------- */
  .organization-info {
    float: left;
    width: 25%;
  }

  .nav-group {
    float: left;
    width: 25%;
  }

  /* Colleges
  -------------------------------------------------- */
  .grid-nav li {
    float: left;
    width: 12.5%;
  }

  #select-leadership-path {
    padding: 30px;
  }

  /* Footer
  -------------------------------------------------- */
  .nav-group .container {
    padding: 20px;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1200px) {
  .main-nav {
    font-size: .75em;
  }

  .facet-overview h2 {
    font-size: 1.8em;
  }
}
/*
--------------------------------------------------
Medium Screens (980 pixels wide)
-------------------------------------------------- */
@media only screen and (max-width: 980px) {
  .global-nav {
    position: relative;
  }

  #shortcuts-nav ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: #331117;
    overflow: hidden;
    z-index: 20;
  }

  #shortcuts-nav.open ul {
    display: block;
  }

  #shortcuts-nav ul li {
    width: 100%;
    border-top: 1px solid #44171f;
  }

  /* Adjustments for small screen panels */
  .global-nav {
    overflow: hidden;
  }
  .global-nav .panel {
    position: relative!important;
    width: 406.5%!important;
    padding: 20px 0px!important;
  }

  .global-nav #shortcuts-nav .panel {
    padding: 0px!important;
  }
  .global-nav #shortcuts-nav .panel li {
    padding: 0px;
  }
  .global-nav #shortcuts-nav .panel li a {
    padding: .7em 20px;
  }

  .global-nav #nav-directory .panel {
    margin-left: -202%;
  }
  .global-nav #nav-directory .panel p {
    padding: 0px 20px;
  }
  .global-nav #nav-directory .panel ul {
    padding: 0px 20px;
  }

  .global-nav #nav-search .panel {
    margin-left: -102%;
  }
  .global-nav #nav-search .panel .fields-search {
    padding: 0px 20px;
  }

  .global-nav a:hover,
  #shortcuts-nav:hover a,
  #shortcuts-nav:hover ul li a:hover,
  #shortcuts-nav.open a,
  #shortcuts-nav.open ul li a:hover {
    color: #fff;
    background-color: #333;
  }

  #shortcuts-nav:hover ul li a:active,
  #shortcuts-nav.open ul li a:active {
    background-color: #333;
  }

  #shortcuts-nav ul li a,
  #shortcuts-nav:hover ul li a,
  #shortcuts-nav.open ul li a {
    background-color: #333;
  }

  #shortcuts-nav {
    width: 25%;
  }

  #shortcuts-item {
    display: block;
  }

  #utility-nav {
    float: left;
    width: 75%;
  }

  #utility-nav ul li {
    width: 33.33333333%;
  }

  .branding {
    float: none;
  }

  .branding a {
    width: auto;
  }

  .main-nav {
    float: none;
    border-top: 1px solid #e4e4e4;
    clear: both;
    font-size: .75em;
  }

  #select-leadership-path {
    padding: 20px;
    bottom: -40px;
  }

  #select-leadership-path select {
    font-size: 1.2em;
  }

  .grid-nav li {
    float: left;
    width: 25%;
  }
}
@media only screen and (min-width: 750px) {
  /*
  --------------------------------------------------
  Page Skip Link
  -------------------------------------------------- */
  a.skip-link {
    display: none;
  }

  /*
  --------------------------------------------------
  Default Page Structure
  -------------------------------------------------- */
  header,
  section,
  #supplementary,
  .secondary-content,
  .global-nav ul.menu,
  .footer-nav {
    max-width: 1120px;
    margin: 0 auto;
  }

  .main-nav li a {
    margin-left: 2px;
  }

  .main-nav a {
    padding: 3em 2em;
    border-bottom: 6px solid #fff;
  }

  .main-nav li.active a,
  .main-nav a:hover {
    border-bottom: 6px solid #0098c1;
  }

  #utility-nav {
    float: right;
  }

  #section-gateway {
    max-width: 1400px;
  }

  #section-info {
    max-width: 1080px;
  }

  #content {
    padding: 40px 0;
  }

  #overview {
    padding-bottom: 40px;
  }

  #supplementary {
    margin-bottom: 40px;
  }

  #section-spotlights {
    margin-bottom: 40px;
  }

  #secondary {
    padding: 20px 0;
  }

  #select-leadership-path,
  #section-overview,
  #supplementary section .container,
  #section-spotlights {
    -webkit-box-shadow: 0 0 7px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0 0 7px rgba(50, 50, 50, 0.4);
    box-shadow: 0 0 7px rgba(50, 50, 50, 0.4);
  }

  .box {
    -webkit-box-shadow: 0 0 7px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0 0 7px rgba(50, 50, 50, 0.4);
    box-shadow: 0 0 7px rgba(50, 50, 50, 0.4);
    background: #ffffff;
    border: 1px solid #b5b5b5;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
  }

  /* Misc
  -------------------------------------------------- */
  blockquote.pullquote {
    width: 55%;
  }

  /* Gateway
  -------------------------------------------------- */
  #section-gateway {
    position: relative;
  }

  #main-heading {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: 40px;
    margin-left: 20px;
    text-align: left;
  }

  #main-heading h1 {
    font-size: 1.75em;
  }

  #main-heading h2 {
    font-size: 1.375em;
  }

  #select-leadership-path {
    position: absolute;
    z-index: 10;
    bottom: -75px;
    width: auto;
    left: 20%;
    right: 20%;
  }

  /* Overview
  -------------------------------------------------- */
  #overview {
    padding-top: 120px;
  }

  #section-overview {
    margin-bottom: 0;
  }

  #overview,
  #content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .facet,
  .subsection {
    border-top: none;
  }

  .subsection {
    padding-bottom: 0;
  }

  .facet-overview,
  .subsection-overview {
    float: left;
    width: 24.107142857143%;
    border-top: 1px solid #e4e4e4;
  }

  .subsection-overview {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .subsection-overview ul {
    padding-left: 0;
    padding-right: 40px;
  }

  .subsection-overview .list-2 {
    display: none;
  }

  .facet figure,
  .subsection figure {
    float: left;
    width: 24.107142857143%;
    padding: 0;
    border-top: 1px solid #e4e4e4;
  }

  .facet-content,
  .subsection-content {
    float: left;
    width: 51.785714285714%;
    border-top: 1px solid #e4e4e4;
  }

  .subsection-content {
    width: 51.785714285714%;
  }

  .facet:first-child .facet-overview,
  .facet:first-child figure,
  .facet:first-child .facet-content,
  .subsection:first-child .subsection-overview,
  .subsection:first-child figure,
  .subsection:first-child .subsection-content {
    border-top: none;
  }

  .facet {
    border-right: 20px solid #fff;
  }

  /* Supplementary
  -------------------------------------------------- */
  #supplementary section {
    float: left;
    width: 50%;
    margin: 0;
  }

  #supplementary section .container {
    margin-left: 20px;
  }

  #supplementary section:nth-child(odd) .container {
    margin-left: 0;
    margin-right: 20px;
  }

  /* Spotlights
  -------------------------------------------------- */
  #section-spotlights {
    border-top: none;
  }

  #section-spotlights h3 {
    margin-left: 75.892857142857%;
    width: 24.107142857143%;
  }

  .article-news {
    float: left;
    width: 25%;
  }

  .article-news.featured {
    width: 50%;
  }

  /* Announcements
  -------------------------------------------------- */
  #section-announcements ul {
    padding: 0;
  }

  #section-announcements li {
    float: left;
    width: 50%;
    padding: 0;
  }

  #section-announcements li a {
    margin-left: 20px;
  }

  #section-announcements li:nth-child(odd) a {
    margin-left: 0;
    margin-right: 20px;
  }

  /* Intro
  -------------------------------------------------- */
  .intro-figure {
    float: left;
    width: 50%;
    margin-bottom: 60px;
  }

  .intro-figure figure {
    padding-right: 20px;
  }

  .intro-content {
    float: left;
    width: 24.107142857143%;
  }

  .intro-aside {
    float: right;
    width: 24.107142857143%;
  }

  .block {
    padding: 0 20px;
  }

  .intro-aside .block {
    padding: 30px 40px;
  }

  /* Section Pages
  -------------------------------------------------- */
  .section-nav {
    float: right;
    width: 24.107142857143%;
  }

  .main-content {
    float: left;
    width: 75.892857142857%;
  }

  .main-content .page-content {
    padding: 0 40px;
  }

  #content .page-content .page-title {
    padding-left: 0;
  }

  .page-body {
    margin-right: 29.87012987013%;
  }

  .page-content .pullquote {
    margin: 0 -40% 0 0;
    padding-left: 40px;
  }

  .section-nav .section-menu {
    padding: 0;
  }

  .section-nav .box-title a {
    padding-left: 0;
    padding-right: 0;
  }

  #notifications .controls {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent !important;
  }
}
@media only screen and (min-width: 750px) and (max-width: 980px) {
  /* Subnavigation
  -------------------------------------------------- */
  .half {
    float: left;
    width: 50%;
  }

  /* News/Events
  -------------------------------------------------- */
  #news-events-categories #news-events-category-topics {
    margin-right: 0px;
    min-width: 42%;
  }

  #news-events-categories #news-events-category-events {
    margin-left: 0px;
    min-width: 42%;
  }

  /* Overview
  -------------------------------------------------- */
  .facet:first-child figure,
  .facet figure {
    float: right;
    border-top: 20px solid #fff;
  }

  .facet {
    border-right: none;
  }

  .facet-overview,
  .subsection-overview {
    width: 33.333333333333%;
  }

  .facet-content,
  .subsection-content {
    width: 42.559523809524%;
  }

  /* Spotlights
  -------------------------------------------------- */
  .article-news .article-headline {
    font-size: 1.125em;
  }

  /* Secondary Content
  -------------------------------------------------- */
  .secondary-content section {
    float: left;
    width: 50%;
  }

  /* Footer
  -------------------------------------------------- */
  .organization-info {
    float: left;
    width: 50%;
  }

  .footer-nav {
    float: left;
    width: 50%;
    padding-top: 20px;
  }

  .nav-group {
    float: left;
    width: auto;
  }

  /* Intro
  -------------------------------------------------- */
  .intro-content {
    width: 50%;
  }

  .intro-aside {
    width: 50%;
    margin-top: 20px;
  }

  .intro-aside .block {
    margin-left: 20px;
  }

  /* News/Events
-------------------------------------------------- */
  #tabs ul a {
    padding: 12px;
  }

  .article-meta .meta-content p.social a {
    float: left;
    margin-left: 0px;
    padding: 0px 17px 0px 0px;
  }

  .article-meta .meta-content p.social a .icon {
    margin-left: 0px;
    margin-bottom: 0px;
  }

  #news-events-categories .news-category.featured {
    width: 95%;
    padding-right: 5%;
  }

  #news-events-categories .news-category {
    min-width: 38%;
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 980px) {
  #nav-directory .panel ul li {
    width: 10%;
  }
}
/*
--------------------------------------------------
Narrow Screens (750 pixels wide)
-------------------------------------------------- */
@media only screen and (max-width: 750px) {
  .main-nav {
    padding: 0;
    border-top: none;
  }

  .main-nav li {
    border-top: 1px solid #e4e4e4;
    width: 50%;
    padding-bottom: 0px;
  }

  .main-nav li a {
    padding: 10px 20px;
    border-radius: 0;
  }

  .main-nav li:nth-child(odd) {
    border-right: 1px solid #e4e4e4;
    margin-right: -1px;
  }

  .box {
    border-top: 1px solid #e4e4e4;
  }

  .box-title {
    /*width: 50%;*/
    position: relative;
    width: 100%;
  }
  .box-title .section-title {
    padding-left: 40px;
    display: block;
  }

  #supplementary {
    width: 100%;
    clear: both;
  }

  /* Misc
  -------------------------------------------------- */
  blockquote.pullquote {
    width: 100%;
    padding-left: 0px;
  }

  /* News/Events
  -------------------------------------------------- */
  .news-events #content {
    background: #fff;
  }

  #news-events-categories .news-category.featured {
    min-width: 100%;
  }
  #news-events-categories .news-category.featured article {
    margin-right: 40px;
  }

  #news-events-categories .news-category {
    min-width: 42%;
    margin-bottom: 40px;
    float: none;
  }

  #news-events-categories #news-events-category-topics, #news-events-categories #news-events-category-events {
    float: left;
  }

  #news-events-category-events {
    margin-right: 4%;
  }
  #news-events-category-events article {
    width: 100%;
  }

  .article-tabs .container {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 480px) {
  #supplementary h3 {
    margin-left: 50%;
    width: 50%;
  }

  #supplementary h3 a,
  #section-spotlights h3 a {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 750px) and (min-width: 480px) {
  /* Main Nav
  -------------------------------------------------- */
  .main-nav ul li {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .main-nav ul li.active {
    background: none;
  }

  .facet-overview {
    float: left;
    width: 45%;
  }

  .facet figure {
    float: right;
    width: 50%;
    margin-left: 5%;
    margin-bottom: 20px;
    padding: 0;
    border-top: 20px solid #fff;
  }

  .facet figure img {
    width: 100%;
  }

  #overview-academics figure {
    border-color: #d14414;
  }

  #overview-experiences figure {
    border-color: #566b21;
  }

  #overview-life figure {
    border-color: #00546b;
  }

  #overview-outcomes figure {
    border-color: #981a31;
  }

  .article-events img {
    width: 100%;
  }

  .box .articles {
    padding-bottom: 20px;
  }

  #section-spotlights h3 {
    margin-left: 50%;
    width: 50%;
  }

  #section-spotlights h3 a {
    padding: 30px 0;
  }

  .article-news figure {
    width: 44%;
    float: left;
    margin-right: 6%;
  }

  .article-news.featured.single figure {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .article-news.featured.single figure img {
    margin-left: 0px;
  }
}
/*
--------------------------------------------------
Small Screens (600 pixels wide)
-------------------------------------------------- */
@media only screen and (max-width: 600px) {
  #shortcuts-item,
  #utility-nav ul li a {
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
  }

  #shortcuts-item,
  #utility-nav ul li a {
    background-position: center center;
  }

  .nav-close.bottom {
    display: block;
    color: #fff;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
  }

  .grid-nav li {
    width: 50%;
  }

  #news-events-categories .news-category article {
    width: 80%;
  }

  #news-events-category-events article {
    min-width: 100%;
  }

  .article-news.single img {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
 /* Main Nav
-------------------------------------------------- */
  .main-nav {
    letter-spacing: 0;
  }

  .main-nav ul li {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .main-nav ul li.active {
    background: none;
  }

  .facet {
    border-top: 20px solid #fff;
  }

  #overview-academics {
    border-color: #d14414;
  }

  #overview-experiences {
    border-color: #566b21;
  }

  #overview-life {
    border-color: #00546b;
  }

  #overview-outcomes {
    border-color: #981a31;
  }

  /* News/Events
-------------------------------------------------- */
  .single .meta-content .comments {
    margin-top: 0px!important;
    float: none!important;
  }

  #news-events-categories .news-category {
    min-width: 100%;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  #news-events-categories .news-category article {
    width: 84%;
  }

  .box-features p.comments {
    float: left;
  }

  .box-features #news-events-features p.comments {
    margin-top: -56px;
  }

  .news-category .box-title {
    padding: 20px 40px;
  }
  .news-category .container {
    padding: 0px 40px;
  }

  #news-events-features .article-news.featured .left, #news-events-features .article-news.featured .right {
    width: 100%;
    margin-right: 10%;
    float: left;
    display: inline;
  }
  #news-events-features .article-news.featured figure {
    margin-left: 0px;
  }

  #news-events-categories #news-events-category-headlines article .comments {
    position: relative;
  }

  #news-events-categories #news-events-category-headlines article .article-info {
    margin-top: 15px;
  }

  #select-leadership-path .selector span {
    font-size: 1.2em!important;
  }
}
